{
  "YouTrackRootUrl": "",
  "DevStatsApiRoot": "",
  "RedirectOnCompleteUrl": "",
  "DefectTracking": {
    "UpdateRange": "Week",
    "YouTrackProject": "",
    "InternalType": "",
    "ExternalType": "",
    "ReworkType": ""
  },
  "SprintWorkRemaining": {
    "YouTrackProject": "",
    "Sprints": [ "" ],
    "WorkRemainingStates": [ "" ],
    "TaskTypes": [ "" ]
  }
}