*.csproj.user
*.suo
*.sln
packages/*.*
packages.config
Events.json
Configuration.json
Messages.json
DefectLogParameters.json
DevLogParameters.json
BacklogParameters.json
CapacityBurndownParameters.json
SiteSettings.json