body {
    background-color: black;
    margin: 0;
    padding: 0;
}

div.payroll-board {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.page-title {
    background-color: #3434B2;
    border-color: #C4C4E8;
    color: #C4C4E8;
    font-size:4em;
    height: 100px;
    float: left;
    width:99.5%;
    min-width: 500px;
}

div.payroll-board-state {
    background-color: #C4C4E8;
    border-color: #3434B2;
    color: #3434B2;
    width: 49%;
    min-width: 150px;
    height: 100px;
    float: left;
}

div.page-title, div.payroll-board-state {
    margin: 2px 0 2px 0;
    padding: 2px 2px 2px 2px;
    text-align: center;
    font-family: Tahoma;
    border-style: solid;
    border-width: 1px;
}

table.board-count {
    width: 100%;
}

td.board-count-title {
    font-size: 3em;
    width: 70%;
}

td.board-count-number {
    font-size: 4em;
    width: 30%;
}

div.clear {
    clear: both;
}

div.issue-list {
    width: 100%;
}

table.issue-list {
    width: 100%;
    border: solid 1px #3434B2;
    border-collapse: collapse;
}

tr.youtrack-first-row {
    border-top: solid 2px #3434B2;
}

tr.youtrack-last-row {
    border-bottom: solid 2px #3434B2;
}

tr.youtrack-first-row, tr.youtrack-middle-row, tr.youtrack-last-row {
    border-left: solid 2px #3434B2;
    border-right: solid 2px #3434B2;
}

td.youtrack-id {
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
}

td.youtrack-body {
    font-size: 2em;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

td.youtrack-id, td.youtrack-body {
    background-color: #C4C4E8;
    border-color: #3434B2;
    color: #3434B2;
}

.shade1 {
    color: #C4C4E8;
}
.shade2 {
    color: #8181CF;
}
.shade3 {
    color: #5555BB;
}
.shade4 {
    color: #3434B2;
}
.shade5 {
    color: #15159E;
}