{
  "YouTrackRootUrl": "http://YouTrackUrl",
  "Projects": [
    "CAS"
  ],
  "BacklogTypes": [
    "User Story",
    "Defect"
  ],
  "DesigningStates": [
    "Submitted",
    "Designing"
  ],
  "CompletedStates": [
    "Complete",
    "Released"
  ],
  "Teams": [
    {
      "TeamName": "Team 1",
      "SubSystems": [ "SubSystem1", "SubSystem2" ]
    },
    {
      "TeamName": "Team 2",
      "SubSystems": [ "SubSystem3", "SubSystem4" ]
    }
  ],
  "MergeAndPOReviewDuration": 1
}