{
  "ScreenDuration": "30000",
  "NextScreenUrl": "./YouTrackSummary.html",
  "YouTrackApiUrl": "http://youtrack:9111/rest/issue/byproject/CAS?filter=",
  "YouTrackIssueUrl": "http://youtrack:9111/issue/",
  "ReworkTypes": [
    "Rework Task"
  ],
  "DefectTypes": [
    "Bug",
    "Defect"
  ],
  "Projects": [
    "CAS",
    "PY",
    "HR"
  ]
}
