{
  "YouTrackRootUrl": "http://YouTrackParameters",
  "Projects": [
    "CAS"
  ],
  "TaskTypes": [
    "Testing Task",
    "Task",
    "Rework Task"
  ],
  "Developers": [
    {
      "UserName": "UserName",
      "FullName": "Real Name"
    },
    {
      "UserName": "AnotherUserName",
      "FullName": "Another Real Name"
    }
  ],
  "Teams": [
    "Payroll",
    "UI",
    "HR"
  ]
}