body {
    font-family: Verdana, Tahoma, sans-serif;
}

table {
    border: none;
    border-collapse: collapse;
}

th {
    background-color: steelblue;
    color: white;
    font-weight: bold;
}

.text-cell {
    text-align: left;
}

.numeric-cell {
    text-align: right;
}

.text-cell, .numeric-cell {
    border: solid 1px cornflowerblue;
    padding: 3px;

}

tr.normal-row {
    background-color: white;
}

tr.alternate-row {
    background-color: lightsteelblue;
}

div.header-bar {
    background-color: steelblue;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 5px;
}

a.Header-Command {
    margin-right: 20px;
    cursor: pointer;
    color: white;
    text-decoration:none;
}

a.backlog-command {
    cursor: pointer;
    font-weight: bold;
    color: cornflowerblue;
    text-decoration:none;
}