body {
    font-family: Verdana, Tahoma, sans-serif;
}

table.datatable {
    border: none;
    border-collapse: collapse;
}

table.datatable th {
    background-color: steelblue;
    color: white;
    font-weight: bold;
}

table.datatable .text-cell {
    text-align: left;
}

table.datatable .numeric-cell {
    text-align: right;
}

table.datatable .text-cell, table.datatable .numeric-cell {
    border: solid 1px cornflowerblue;
    padding: 3px;
}

table.datatable tr.normal-row {
    background-color: white;
}

table.datatable tr.alternate-row {
    background-color: lightsteelblue;
}

div.header-bar {
    background-color: steelblue;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 5px;
}

a.Header-Command {
    margin-right: 20px;
    cursor: pointer;
    color: white;
    text-decoration:none;
}

img.chart-icon {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

a.backlog-command {
    cursor: pointer;
    font-weight: bold;
    color: cornflowerblue;
    text-decoration:none;
}

td.bad-cell {
    background-color: red;
    color: white;
}