body{
    background-color: aliceblue;
}

div.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: table;
}

div.menu-item {
    margin: 5px;
    padding: 5px;
    height: 150px;
    width: 150px;
    float: left;
    background-color: steelblue;
    color: white;
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

div.menu-item:hover{
    background-color:dodgerblue;
}

div.menu-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}